# <center><b> <em> Feature Engineering </em> </b></center>

### <font color="green"> | - Import des Biblio et Dataframe</font>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# Read the XLSX file
data = pd.read_csv("../data/silver.csv")

In [8]:
data.tail()

,invoice,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,total_price
797880,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
797881,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
797882,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
797883,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85
797884,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,18.00

In [9]:
data.describe()

            quantity     unit_price    customer_id    total_price
count  797885.000000  797885.000000  797885.000000  797885.000000
mean       12.602980       3.702732   15313.062777      20.416465
std       191.670371      71.392549    1696.466663     313.518824
min    -80995.000000       0.000000   12346.000000 -168469.600000
25%         2.000000       1.250000   13964.000000       4.350000
50%         5.000000       1.950000   15228.000000      11.700000
75%        12.000000       3.750000   16788.000000      19.500000
max     80995.000000   38970.000000   18287.000000  168469.600000

### <font color="green"> || - Ajout column Total Price </font>

In [4]:
data["total_price"] = data["quantity"] * data["unit_price"]

In [5]:
data.head()

,invoice,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,total_price
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797885 entries, 0 to 797884
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice       797885 non-null  object
 1   stock_code    797885 non-null  object
 2   description   797885 non-null  object
 3   quantity      797885 non-null  int64
 4   invoice_date  797885 non-null  object
 5   unit_price    797885 non-null  float64
 6   customer_id   797885 non-null  float64
 7   country       797885 non-null  object
 8   total_price   797885 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 54.8+ MB

### <font color="green"> ||| - RFM Analysis </font>

## <font color="purple"> 
 Recency : the number of days between today_date and the last purchase date of this customer  

 Frequency : the number of purchase of this customer  

 Monetary : sum of TotalPrice of this customer </font>

### <font color="green"> V - Export gold Data </font>

In [ ]:
#EXporter la data dans un Csv 
data.to_csv('../data/gold.csv', index=False)