# <center><b> <em> Data Analysis </em> </b></center>

### <font color="green"> | - Import des Biblio et Dataframe</font>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
# Read the XLSX file
data = pd.read_csv("../data/gold.csv")

In [4]:
data.shape

(797885, 8)

### <font color="green"> || - Analyses univariées : </font>

In [6]:
data.describe()

            quantity     unit_price    customer_id
count  797885.000000  797885.000000  797885.000000
mean       12.602980       3.702732   15313.062777
std       191.670371      71.392549    1696.466663
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13964.000000
50%         5.000000       1.950000   15228.000000
75%        12.000000       3.750000   16788.000000
max     80995.000000   38970.000000   18287.000000

### <font color="green"> ||| - Analyse bi-variées : </font>

##### <font color="yellow">l’hypothèse nulle est : « les deux variables testées sont indépendantes » </font>